:root{
    --cyan: #00def2;
    --gray: #abcdcf;
    --dark-gray: #5c6f70;
    --dark-blue: #345065;
    --blueish-black: #233645;
    --light-red: #fa585e;
    --light-green: #3ad16d;
    
    --border-rad: 10px;
    --purple: #6c4197;
}

*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

    scroll-behavior: smooth;

    box-sizing: border-box;
}
body{
    background-color: #fefefe;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 56px;
    height: 56px;

    border-radius: 50%;
}

.gmail-com{
    font-size: 70%;
    font-weight: bold;
    text-transform: none;

}

.anime-wavy-underline.blue-underline, .anime-wavy-underline.green-underline, .anime-wavy-underline.red-underline{
    --bg-y: 21px;
    background-image: url(/media/images/blue-wavy-underline.png);
    color: var(--dark-blue);
    background-position: 0px var(--bg-y);
    background-repeat: repeat-x;
    background-size: 40px 6px;
    
    animation: underline-wavy 15s linear 0s infinite;
    padding-bottom: 5px;
}
.anime-wavy-underline.green-underline{
    background-image: url(../media/images/green-wavy-underline.png) !important;
    color: var(--light-green) !important;
}
.anime-wavy-underline.red-underline{
    background-image: url(../media/images/red-wavy-underline.png) !important;
    color: var(--light-red) !important;

}
@keyframes underline-wavy {
    100%{background-position: 500px var(--bg-y)}
}


.green{
    color: lightgreen;
    padding-bottom: 30px;
    position: relative;

    
}

.container{
    width: 80%;
    margin: auto;
}
.container.extend-left{
    margin: auto 0 auto auto;
}
.parent{
    box-shadow: #9577b3  0px 5px 30px;

        position: relative;
}
.segment-title{
    font-size: 100px;
    width: fit-content;

    opacity: 0.45;
    margin-bottom: -100px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.segment-title text{
    box-shadow: 0 0 100px white inset;

}
.protect{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#home{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#home .container{

    padding: 150px 25px 0 100px;

    display: flex;
    justify-content: space-between;
}
#home .container > div{
    width: 70%;
}
.home-nav{
    font-size: 50px;
    width: fit-content;
}
.home-nav:hover ul > li{
    opacity: 0.35;
}

.home-nav:hover ul > li:hover{
    opacity: 1;
}
.home-nav:hover ul #bg-pattern{
    opacity: 0.6;
    background-size: 11vmin 11vmin;

}
.home-nav ul{
    margin-block: 30px;
    list-style: none;
    width: fit-content;
}
.home-nav li{
    padding-block: 5px;
    transition: opacity 0.3s;
}
.home-nav a{
    color:white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#bg-pattern{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(44, 28, 50, 0.15) 15%, transparent 15% );
    background-size: 12vmin 12vmin;
    background-position: 0% 0%;
    position: absolute;
    left: 0; top: 0; z-index: -1;
    transition: background-size 0.6s, background-position 0.6s;
}
.home-nav ul[data-active='0'] #bg-pattern{
    background-position: 0 -25%;
}
.home-nav ul[data-active='1'] #bg-pattern{
    background-position: 0 -50%;
}
.home-nav ul[data-active='2'] #bg-pattern{
    background-position: 0 -75%;
}
.home-nav ul[data-active='3'] #bg-pattern{
    background-position: 0 -100%;
}
#me{
    width: 40vw;
    position: absolute;
    right: 4%;
    bottom: 0;
}
nav{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;



    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
    flex-grow: 1;

    background-color: #6c4197;

    color: white;

    border-radius: 0 0 200px 200px;

    z-index: 1000;
}
.logo{
    width: 32px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;  
    margin: 0;  
    
}
nav ul li{
    height: 100%;
    padding-block: 10px;
    list-style: none;
    margin-inline: 1vw;
    cursor: pointer;
}
nav ul li:hover{
    border-bottom: var(--light-red) 2px solid;
    padding-block: 8px;
}
.nav-icon{
    display: none !important;
    transform: rotate(0.5turn);
    transition: transform 1s 0.5s;
}

.bio{
    font-size: clamp(14px, 2vw, 20px);
    margin-right: 30px;
}







#about-me{
    min-height: 105vh;
    position: relative;
}

#about-me .container{
    justify-content: space-between;
}
.flip-button{
    transition: color 1s;
}
.right.flip-button{
    border: transparent 25px solid;
    border-left-color:var(--gray);

    position: absolute;
    right: -15px;
    top: 50%;
    margin: 15px;
    height: 0;
    width: 0;

    cursor: pointer;
}
.left.flip-button{
    border: transparent 25px solid;
    border-right-color: gray;

    position: absolute;
    top: 50%;
    left: -15px;
    margin: 15px;
    height: 0;
    width: 0;

    cursor: pointer;
}
.p-images{
    width: 40%;
    padding-block: 15%;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}
.p-images::after{
    content: "";
    width: 1px;
    border-radius: 100px;
    background-image: linear-gradient( transparent 0%, white 50%, transparent 100%);
    height: 100%;
    right: 0;
    position: absolute;
}
.p-image img{
    max-width: 80px;
    border-radius: 50%;
    filter: grayscale(30%) blur(1px);
    transition: all 1.5s;
}
.p-image.active img{  /*edit hover ..................................................*/
    max-width: 200px;
    filter: grayscale(0%) blur(0px);
    border-radius: 40px;

}

.bio-book{
    width: 58%;
    height: 300px;

    margin-left: 60px;
    perspective: 1000px;

    font-size: 15px;
}
.bio-page{
    color: black;
    margin-right: 50px;
    height: 400px;
    width: 55%;

    border-radius: 30px 0 0 30px;


    transform: rotateY(0turn);
    transform-style: preserve-3d;
    transform-origin: right;
    transition: transform 1.8s 0.1s;
    
    background-color: rgb(214, 209, 204);
    display: inline-block;

    padding: 20px 55px 20px 20px;

    position: absolute;
    box-shadow: rgb(220, 220, 198) -1px -1px 0px, rgb(194, 194, 175) -2px -2px 0px, rgb(182, 182, 163) -4px -4px 0px;
}
.bio-page:first-of-type{
    box-shadow: none;
}
.bio-page p {
    backface-visibility: hidden;
}
.bio-page::after{
    content: '';
    background-color: var(--purple);
    height: calc(100% - 20px);
    width: 2px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.bio-page.read-ed{
    transform: rotateY(0.5turn);
    box-shadow: none
}
#skills{
    position: relative;
}

#skills .bg{
    position: absolute;
    
    min-width: 100%;min-height: 100%;
    z-index: -1;background: rgb(139,100,140);
    background: radial-gradient(circle, rgb(163, 121, 164) 23%, rgba(123,51,125,1) 100%);
}
.skills-universe{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    padding-bottom: 50px;
}

.skill-planet{
    --dark-side: rgb(84, 84, 84);
    --sec-color: rgb(179, 179, 179);

    --hole-color: var(--dark-side);


    border-radius: 50%;
    background-color: var(--dark-side);
    background-image: radial-gradient(farthest-corner at 0% 0%, var(--sec-color), var(--dark-side));
    box-shadow: 0 0 20px var(--sec-color);
    width: var(--width);
    aspect-ratio: 1/1;

    margin-inline: 20px;

    color:white;
    font-weight: bold;

    align-self: flex-start;
    

    font-size: 22px;
    
    position: relative;
    margin-top: 40px;

}
.skill-planet p{
    text-align: center;
    z-index: 100;
}
.skill-planet .planet-hole{
    content: "";
    position: absolute;
    background-image: radial-gradient(circle at 0% 0%, transparent, var(--hole-color));

    border-radius: 50%;


}

.skill-planet .planet-hole:first-of-type{
    top: 20%;
    left: 65%;
    width: 15%;
    height: 15%;

}
.skill-planet .planet-hole:nth-of-type(2){
    top: 60%;
    left: 20%;
    width: 15%;
    height: 15%;

}

.skill-planet .planet-hole:nth-of-type(3){
    top: 30%;
    left: 15%;
    width: 15%;
    height: 15%;

}
.skill-planet .percentage{
    z-index: -1;
    transform: translateY(60px);
    background-color: var(--dark-side);
    border-radius: 20px;
    width: 40px;
    font-size: 14px;
    position: absolute;
    top: -25px;
    left: calc(50% - 20px);

    transition: all 0.5s ;
}
.skill-planet:hover .percentage{
    transform: translateY(0px);
}
.skill-planet .percentage::before{
    content: '';
    border: 10px solid;
    border-color: var(--dark-side) transparent transparent transparent;

    position: absolute;
    bottom: -18px;

}

.skill-planet:nth-of-type(2n){
    align-self: flex-end;
    
}

.skill-planet:first-of-type:not(.xtra){
    --dark-side:orangered;
    --sec-color: rgb(246, 147, 76);
    
    --hole-color:  rgb(244, 95, 41);
    width: 18%;
    

}
.skill-planet:nth-of-type(2):not(.xtra){
    --dark-side:blue;
    --sec-color: rgb(128, 128, 255);
    --hole-color: rgb(48, 48, 237);
    width: 12%;
    
}

.skill-planet:nth-of-type(3):not(.xtra){
    --dark-side:#bfae17;
    --sec-color: rgba(218, 206, 95, 0.765);
    width: 12.5%;
    font-size: 28px;
    
}

.skill-planet:nth-of-type(4):not(.xtra){
    --dark-side:#6a1577;
    --sec-color: #b56daf;
    --hole-color: #883b94;

    width: 11.5%;

}
.skill-planet:nth-of-type(5):not(.xtra){
    --dark-side: #3973a2;
    --sec-color: rgb(129, 129, 254);
    --hole-color: rgb(84, 84, 252);
    width: 16%;
    font-size: 20px;
    
}


.skill-planet:nth-of-type(6):not(.xtra){
    --dark-side:#015e88;
    --sec-color: #75b3d0;
    --hole-color: #268cbb;

    width: 11%;
    font-size: 14px;
}

.skill-planet.xtra{
    font-size: 14px;
    width: 160px;
    flex-shrink: 0;
}
.skills-universe.xtra {
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0; opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}
.more-skills{
    width: fit-content;
    padding: 10px;
    margin: auto;

    border-radius: var(--border-rad);
    background-color: var(--light-red);
    color: white;

    cursor: pointer;
    transition: transform 0.5s 0.1s;
}

.more-skills:hover{
    transform: scale(1.2);
}

.skills-universe.xtra.visible {
    height: auto; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

#projects{
    height: 100vh;
    margin-bottom: 0;
}

.slider{
    display: flex;
    gap: 25px;
    
    margin-block: 100px;
    
    transform: translate(0, -90%);  /*to shift he slider up a little*/

    position: absolute;
    top: 50%;
    left: 50%;
}
.slider .image-canvas{
    width: 250px;
    overflow: hidden;
    border-radius: 15px;

    position: relative;
    box-shadow: rgb(179, 177, 177) 0px 6px 10px;
}

.slider .image-canvas img{
    object-fit: cover;
    object-position: 0% 0%;
    width: 250%;
    height: 310px;
    border-radius: 15px;

    transition: filter 1s;
}

.slider .image-canvas .image-hover{
    width: 100%;
    height: 80%;

    transform: translateY(100%);
    transition: transform 0.6s;

    position: absolute;
    bottom: 0;

    isolation: isolate;
}

.image-hover .black-bg{
    background-color: black;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.image-hover .image-description{
    color: white;
    font-size: 14px;
    padding: 2px;
    z-index: 100;

    text-align: center;
}


#projects .instructions{
    color: white;
    background-color: var(--purple);
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    left: 100px;
    top: calc(50% - 10px);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    transition: opacity 0.4s;
    padding: 20px;
    border-radius: 50px;
    font-weight: lighter;
}

#projects .instructions i{
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    font-size: 1.6rem;

}



#contact-me{
    margin-bottom: 0;
    border-bottom: none;
}
.text-and-image{
    justify-content: space-between;
    color: white;
    font-size: 28px;
    padding-left: 15%;
    background-color: #365785;
    
}
.contact-me-text{
    font-size: clamp(12px, 2vw, 30px);
}
.text-and-image .contact-me-image{
    width: 30%;
}
.text-and-image .contact-me-image img{
    display: block;
    width: 100%;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}
#contact-me .container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
}
#contact-me .container *{
    margin-block: 15px;
}
.contact-list{
    width: 30%;
    min-height: 300px;
}
.contact-list:nth-child(2){
    box-shadow: lightgray 0 4px 10px;
}
.secondary-p{
    opacity: 0.6;
}
.icon-holder{
    width: 60px;
    border-radius: 50%;
    display: block;
    margin-inline: 10px;
}
.icon-holder img{
    width: 100%;

}
footer{
    padding: 6px 20px;
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    color: white;
    font-size: 13px;
}
footer * *{
    margin-inline:10px ;
}
footer div{
    display: flex;
    align-items: center;
}
footer div:first-child img{
    width: 30px;
}
footer div:last-child img{
    width: 45px;
}
@media (max-width:1060px){
    #about-me{
        min-height: 80vw;
    }
    #about-me .container{
        flex-wrap: wrap;
    }
    .p-images{
        width: 100%;
        flex-shrink: 0;
        padding-block: 0; 
        margin-block: 10px;
    }
    .p-images::after{
        display: none;
    }
    .bio-book{
        width: 100%;
        margin-left: 0;
    }
    .right.flip-button, .left.flip-button{
        top: 45%;
    }
}
@media (max-width: 900px){
    #home .container{
        padding-left: 0;
    }
    #me{
        border-radius: 50%;
        border-bottom: rgba(0, 0, 0, 0.3) 2px solid;
        top: calc(50% - 200px);bottom: initial;
    }
    .home-nav{
        font-size: 38px;
    }

    .bio{
        margin-right: 10px
    }
    .anime-wavy-underline{
        --bg-y: 17px !important;
    }

    #about-me{
        min-height: 110vh !important;
    }
    .bio-page{
        height: 400px;
    }
    .p-images{
        margin-block: 0;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #projects .instructions{
        left: 25px;
    }
}
@media (min-width : 795px) and (max-width: 1060px){
    .email-text > .send-email {right:-25px}

}

@media (max-width : 794px) and (min-width: 200px){
    nav ul{
        width: 70%;
    }
    nav ul li{
        padding-inline: 2%;
    }
    .nav-icon{
        display: initial !important;
        transform: rotate(0turn);
        

    }
    .nav-text{
        display: none;
    }
    .contact-list{
        width: 100%;
        margin-block: 0px;
        min-height: 220px;
    }
}

@media (max-width:699px){
    #about-me{
        min-height: 80vh !important;
    }
    .p-images .p-image img{
        max-width: 50px;
    }
    .p-images .p-image.active img{
        max-width: 100px;
    }
    .bio-book{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .bio-page{
        width: 50%;
        height: 100%;
    }

    *:not(#project) .segment-title{
        margin-bottom: -50px;
        margin-top: 10px;
    }

    .skills-universe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding-inline: 5%;
    }
    .skill-planet{
        width: 100% !important;
        margin-inline: 0;
    }

    #projects .instructions{
        font-size: 16px;
        left: 5px;
    }

}
@media (max-width:550px) {
    nav .logo{
        margin-left: 6px;
        width: 22px;
    }
    #home .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-right: 0;
    }
    #home .container > div{
        width: 100%;
    }   
    .bio{
        margin-right: 0 !important;
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    .home-nav{
        display: none;
    }
    #me{
        border-radius: 0;
        right: 0; left: 0;
        top:initial;
        bottom: 0;
        margin: 0;
        margin-inline: auto;
        width: clamp(200px, 70%, 320px);
    }

    .bio-book{
        height: 400px;
        margin-left: 20px;
    }
    .bio-page{
        width: 80%;
    }
    footer div:first-child img{
        width: 25px;
    }
    footer div:last-child img{
        width: 30px;
    }

    .text-and-image .contact-me-image{
        width: 40%;
    }
}